<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.olshevski.navigation.reimagined.sample.dagger">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationReimagined"
        android:name="dev.olshevski.navigation.reimagined.sample.ReimaginedApplication">
        <activity
            android:name="dev.olshevski.navigation.reimagined.sample.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NavigationReimagined.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>